<div class="project-card">
  <img src="{{ project.data.headerimage }}" alt="{{ project.data.title }}" />
  <div class="project-card-info">
    <a href="{{ project.url }}"><h2>{{ project.data.title }}</h2></a>
    <span class="year">{{ project.data.date }}</span>
    <p>{{ project.data.description }}</p>
  </div>
</div>